/* Srikanth changes for landing pages */
.webForm{
    top: 25%;
    z-index: 20;
    margin-right: 0;
    background-color: #8c878752;
    padding: 25px;
    margin-right: 1rem;
    right:0;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  }
  .webForm .md-form {
      width: 90%;
      margin: 1em;
      display: inline-block;
  }

.webForm{
 
}
.hosting_service_item{
    padding: 26px 40px;
}
.hosting_service_item .icon{
    width: 27%;
    margin: 1rem;
}
.hosting_service_item .icon img{
    height: 100%;
    width:100%
}
.footer_three .footer_top{
    background-color: #fff;
}
.footer_three .footer_top p{
    color: black;
}
.footer_three .footer_top .f-title, .footer_three .footer_top .f_widget.about-widget .f_list li a{
    color: black;
}
.footer_nine_bottom .flag_selector .flag-icon {
    float: none;
}
.payment_footer_area {
background: #fff;
}
.payment_footer_area_two {
padding: 100px 0px;
}
.quote_form .md-form{
  width: 90%;
  margin: 1em;
  display: inline-block;
}
.quote_form{
  position: absolute;
top: 25%;
  z-index: 20;
  background-color: #fff;
width: 40%;
padding: 25px;
margin-right: 1rem;
right:0;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
@media screen and (max-width: 728px) and (min-width: 320px) {
.quote_form{
  width:100%;
  top:auto;
  margin: auto;
}
.quote_form .md-form{
  width: 100%;
}
.social_icons{
  width: 100%;
  bottom:0;
  display: flex;
  align-content: space-around;
}
.social_icons a{
  display: inline;
}
.social_icons .social_icons_mobile{
  display: inline;
}
.social_icons .social_icons_desktop{
  display: none;
}
}
.social_icons .social_icons_desktop{
display: block;
}
.social_icons .social_icons_mobile{
display: none;
}

.social_icons{
position: fixed;
bottom: 15px;
margin-left: 15px;
width: 10%;
z-index: 5;
text-align: center;
}

.social_icons a{
font-size: 40px;
padding:10px;
width: 100%;
display: inline-block;
}

.fa-facebook-f{
color:#3b5998;
}
.fa-facebook{
color:#3b5998;
}

.fa-linkedin{
color:#0976b4;
}

.fa-instagram{
color:#55acee;
}
.fa-instagram{
color:#55acee;
}

.fa-yelp{
color:#af0606;
}
.webContent {
    background: #fbfbfd;
    padding-top: 110px;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }